<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.modules.mapper.DrugMapper">

    <select id="selectListInfo" resultType="com.xxx.modules.entity.Drug">
        SELECT
        d.*,
        s.sort_name AS sortName
        FROM `drug` d
        LEFT JOIN `sort` s ON d.sort_id = s.id
        <where>
            <if test="id != null">
                AND d.id = #{id}
            </if>
            <if test="drugName != null and drugName != ''">
                AND d.drug_name LIKE CONCAT('%', #{drugName}, '%')
            </if>
            <if test="sortId != null">
                AND d.sort_id = #{sortId}
            </if>
            <if test="status != null">
                AND d.status = #{status}
            </if>
            <if test="sortName != null and sortName != ''">
                AND s.sort_name LIKE CONCAT('%', #{sortName}, '%')
            </if>
        </where>
        ORDER BY d.create_time DESC
    </select>

</mapper>