<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.modules.mapper.DrugMapper">

<select id="selectListInfo" resultType="com.xxx.modules.entity.Drug">
select `d`.*,s.sort_name from `drug` d   left join `sort` s on d.sort_id = s.id
   where 1=1
   <if test="id !=null">
       and `d`.id = #{id}
   </if>
    <if test="drugName !=null">
        and  d.drug_name like concat('%',#{drugName},'%')
    </if>
    <if test="sortId !=null">
        and d.sort_id = #{sortId}
    </if>
    <if test="status !=null">
        and d.status = #{status}
    </if>
    <if test="sortName !=null">
        and s.sort_name like concat('%',#{sortName},'%')
    </if>
    order by `d`.create_time desc
</select>


</mapper>